body{
     background-image: url(blue\ white2.avif);
     display: block;
     background-repeat: no-repeat;
     background-size: cover;
     max-width: 100%;
     align-content: center;
     max-height: 100%;
     border: none;
     margin: none;
          @media(max-width:1600px) {
               background-image: url(blue\ white2.avif);
               background-repeat: no-repeat;
               background-size: cover;
               max-width: 100%;
               align-content: center;
               max-height: 100%;
               border: none;
               margin: none;
          }
          @media(max-width:1368px){
               background-image: url(blue\ white2.avif);
               background-repeat: no-repeat;
               background-size: cover;
               max-width: 100%;
               align-content: center;
               max-height: 100%;
               border: none;
               margin: none;
          }
          @media(max-width:800px) {
               background-image: url(blue\ white2.avif);
               max-width: 100%;
               background-repeat: repeat-y;
               background-size:cover;
               align-content: center;
               max-height: 100%;
               border: none;
               margin: none;
          }
          @media(max-width:400px){
               background-image: url(blue\ white2.avif);
               max-width: 100%;
               background-repeat: repeat-y;
               align-content: center;
               max-height: 100%;
               border: none;
               margin: none;
               }
}
.frame{
     max-width: 1200px;
     border: auto;
     display: block;
     
          @media(min-width:1369px)and(max-width:1600px){
               max-width: 1200px;
               border: auto;
               display: block;
         }
          @media(min-width:801px)and(max-width:1368px){
               max-width: 1100px;
               margin: auto;
         }
         @media(min-width:401px)and(max-width:800px){
               max-width: 100%;
               margin: auto;
         }
         @media(max-width:400px){
               max-width: 100%;
               margin: none;
     }

}
.top{
     height: 42px;
     border-top: 20px;
     border-bottom: 20px;
     display: flex;
          @media(min-width:1369px)and(max-width:1600px) {
               height: 42px;
               border-top: 20px;
               border-bottom: 20px;
               display: flex;
          }
          @media(min-width:801px)and(max-width:1368px){
               height: 42px;
               border-top: 20px;
               border-bottom: 20px;
               display: flex;
          }
          @media(min-width:401px)and(max-width:800px){
               height: 30px;
               border-top: 20px;
               border-bottom: 20px;
               display: flex;
          }
          @media(max-width:400px){
               height: 30px;
               border-top: 20px;
               border-bottom: 20px;
               display: flex;
          }
}
.top_logo{
     display: block;
     float: left;
     height: 42px;
     max-width: 64px;
     padding-left: none;
     padding-right: auto;
          @media(max-width:1600px) {
               display: block;
               float: left;
               height: 42px;
               max-width: 64px;
               padding-left: none;
               padding-right: auto;
          }
          @media(max-width:1368px){
               float: left;
               height: 42px;
               width: fit-content;
               padding-left: none;
               padding-right: auto;
          }
          @media(max-width:800px){
               float: left;
               height: 42;
               width: 64;
               padding-left: none;
               padding-right: auto;
          }
          @media(max-width:400px){
               float: left;
               height: 42;
               width: 64;
               padding-left: none;
               padding-right: auto;
          }     
}
