body{
     background-color: ;
     display: ;
     max-width: ;
}
.frame{

}
.top{

}
.top_logo{

}
.text_frame{

}
.text1{

}
.text2{

}
.image{

}
.contacts{

}
.contact_title{

}
.links{

}
.link{

}
