body{
     background-color: aquamarine;
     display: block;
     max-width: 100%;
     align-content: center;
     max-height: 100%;
     border: none;
     margin: none;
          @media (min-width:1369px) and (max-width:1600px) {
               background-image: url(blue\ white2.avif);
               background-repeat: no-repeat;
               background-size: cover;
               display: ;
               max-width: 100%;
               align-content: center;
               max-height: 100%;
               border: none;
               margin: none;
          }
          @media (min-width:801px)and(max-width:1368px){
               background-image: url(blue\ white2.avif);
               background-repeat: no-repeat;
               background-size: cover;
               display: ;
               max-width: 100%;
               align-content: center;
               max-height: 100%;
               border: none;
               margin: none;
          }
}
.frame{
     max-width: 1200px;
     border: auto;
     display: block;
     
     @media (min-width:1369px)and(max-width:1600px){
          max-width: 1200px;
          border: auto;
          display: block;
     }
     @media (min-width:801px)and(max-width:1368px){
          max-width: 1100px;
          border: auto;
     }
     @media(min-width:401px)and(max-width:800px){
          max-width: 700px;
          margin: auto;
     }
     @media(max-width:400px){
               max-width: auto;
               margin: none;
     }

}
@media (min-width:1369px)and(max-width:1600px) {
     body{
          background-color: aquamarine;
          display: ;
          max-width: 100%;
          align-content: center;
          max-height: 100%;
          border: none;
          margin: none;
     }
     .frame{
          max-width: 1200px;
          border: auto;
          display: block;
     }
     .top{
          height: 50px;
          border-top: 20px;
          border-bottom: 20px;
          display: flex;
     }
     .top_logo{
          display: block;
          float: left;
          height: 42px;
          max-width: 64px;
          padding-left: none;
          padding-right: auto;          
     }
     .text_frame{
     
     }
     .text1{
     
     }
     .text2{
     
     }
     .image{
      
     }
     .contacts{
     
     }
     .contact_title{
     
     }
     .links{
     
     }
     .link{
     
     }
}
@media (min-width:801px)and(max-width:1368px){
     body{
          background-color: aquamarine;
          display: ;
          max-width: 100%;
          align-content: center;
          max-height: 100%;
          border: none;
          margin: none;
     }
     .frame{
          max-width: 1100px;
          border: auto;
     }
     .top{
          height: 50px;
          border-top: 20px;
          border-bottom: 20px;
          display: flex;
     }
     .top_logo{
          float: left;
          height: 50px;
          width: fit-content;
          padding-left: none;
          padding-right: auto;
     }
     .text_frame{
     
     }
     .text1{
     
     }
     .text2{
     
     }
     .image{
      
     }
     .contacts{
     
     }
     .contact_title{
     
     }
     .links{
     
     }
     .link{
     
     }
}
@media (min-width:401px)and(max-width:800px){
     body{
          background-color: aquamarine;
          display: ;
          max-width: 100%;
          align-content: center;
          max-height: 100%;
          border: none;
          margin: none;
     }
     .frame{
          max-width: 700px;
          border: auto;
     }
     .top{
          height: 30px;
          border-top: 20px;
          border-bottom: 20px;
          display: flex;
     }
     .top_logo{
          float: left;
          height: ;
          width: ;
          padding-left: none;
          padding-right: auto;
     }
     .text_frame{
     
     }
     .text1{
     
     }
     .text2{
     
     }
     .image{
      
     }
     .contacts{
     
     }
     .contact_title{
     
     }
     .links{
     
     }
     .link{
      
     }
}
@media (max-width:400px){
     body{
          background-color: aquamarine;
          display: ;
          max-width: 100%;
          align-content: center;
          max-height: 100%;
          border: none;
          margin: none;
     }
     .frame{
          max-width: auto;
          border: auto;
     }
     .top{
          height: 30px;
          border-top: 20px;
          border-bottom: 20px;
          display: flex;
     }
     .top_logo{
          float: left;
          height: ;
          width: ;
          padding-left: none;
          padding-right: auto;
     }
     .text_frame{
     
     }
     .text1{
     
     }
     .text2{
     
     }
     .image{
      
     }
     .contacts{
     
     }
     .contact_title{
     
     }
     .links{
     
     }
     .link{
     
     }
}